body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: #3A6476;
}

.image {
    margin: auto;
    text-align: center;
}

.box {
    width: 13%;
    border-radius: 3px;
    margin: auto;
    background: #FFFFFF;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
}

form input {
    margin-bottom: 20px;
    height: 30px;
}

.title {
    font-family: sans-serif;
    text-align: center;
    margin: 30px auto 30px auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40px;
    border: 0px;
    background-color: #3A5476;
    color: white;
    border-radius: 0.2vw;
    width: 60%;
    cursor: pointer;
}