/*Partie réservé à l'admin'*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3A6476;
}

* {
    font-family: sans-serif;
}

li a {
    text-decoration: none;
}

.return_post {
    color: #000;
}


/*Couleurs  des fonts*/

a {
    color: purple;
    text-decoration: none;
}

header p,
ul li {
    color: #FFF;
}


/*Tailles*/

p {
    font-size: 1.2em;
}

.bloc-page {
    width: 1200px;
    height: 1800px;
    margin: auto;
    background: #FFF;
}


/*Les billets*/

.posts {
    width: 90%;
    height: 300px;
    margin-left: 5%;
}

.admin {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.create {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 5% 0 5%;
}

p.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #3A6476;
    border-bottom: 0;
}

p.titleChapters {
    text-transform: uppercase;
    font-weight: bold;
    color: #3A6476;
    border-bottom: 2px solid #000;
}