body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3A6476;
}

* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

.inscrire {
    font-size: 0.7em;
    color: #000;
}

.lien_inscrire {
    color: rgb(110, 33, 110);
    text-decoration: underline;
}


/*Couleurs  des fonts*/

header p,
ul li {
    color: #FFF;
}


/*Tailles*/

p {
    font-size: 1.5em;
}

.bloc-page {
    width: 1200px;
    margin: auto;
    background: #FFF;
}

.inscription {
    width: 30%;
    height: 300px;
    margin-left: 35%;
    background: #FFF;
    display: flex;
    justify-content: center;
}

form p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p input {
    margin-bottom: 15px;
}