@media all and (max-width: 1200px) {
    nav,
    .bloc-page {
        width: 900px;
    }
}

@media all and (max-device-width:992px) {
    nav,
    .bloc-page {
        width: 650px;
    }
    section.inscription {
        padding-bottom: 20px;
    }
    .inscription p {
        text-align: left;
    }
    .inscription input {
        float: right;
        padding: 5px 150px 5px 150px;
    }
    .inscription input#submit {
        padding: 5px 100px 5px 100px;
    }
    .create #title,
    .create textarea {
        width: 400px;
    }
}

@media all and (max-device-width:768px) {
    nav,
    .bloc-page {
        width: auto;
    }
    nav .menu-icon {
        display: block;
    }
    /* menu btn */
    nav .menu-btn {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
        line-height: 100px;
        left: 0;
        transform: inherit;
        width: 100%;
    }
    nav .navigation {
        width: 100%;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        flex-direction: column;
        background: yellow;
    }
    nav li {
        line-height: 50px;
    }
    li a {
        color: #333;
    }
    .menu-icon .navicon {
        background: #FFF;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 30px;
    }
    nav .menu-icon {
        right: 40px;
        margin: 0 5% 0 0;
        cursor: pointer;
        /*display: inline-block;*/
        float: right;
        position: relative;
        user-select: none;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background: #FFF;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .menu-icon .navicon:before {
        top: 8px;
    }
    .menu-icon .navicon:after {
        top: -8px;
    }
    nav .menu-btn:checked~.navigation {
        transition: all .5s ease;
        background: #fff;
        max-height: 629px;
    }
    nav .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    nav .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    nav .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    .inscription input {
        float: right;
        padding: 5px 200px 5px 200px;
    }
}

@media all and (max-device-width:500px) {
    .content p {
        text-align: center;
    }
    .connexion input,
    #submit {
        width: 50%;
        height: 40px;
        margin-bottom: 20px;
    }
    .content #submit,
    .create #submit {
        color: #333;
        float: left;
    }
    .create #title,
    .create textarea {
        width: 100%;
    }
}