@media all and (max-width: 1440px) {
    .bloc-page {
        width: 900px;
        margin: auto;
    }
}

@media all and (max-width: 1024px) {
    .bloc-page {
        width: 700px;
        margin: auto;
    }
    h1 {
        width: 90%;
        text-align: center;
        margin: 20px auto auto auto;
    }
}