@media all and (max-width: 1440px) {
    h1 {
        font-size: 2em;
    }
    p,
    li,
    header p,
    li a,
    .date {
        font-size: 0.9em;
    }
    nav,
    .bloc-page {
        width: 60%;
    }
}

@media all and (max-width: 1200px) {
    .bloc-page,
    nav {
        width: 700px;
    }
    h1 {
        font-size: 1.7em;
    }
}

@media all and (max-device-width: 869px) {
    nav .menu-icon {
        display: block;
    }
    /* menu btn */
    nav .menu-btn {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
        line-height: 100px;
    }
    header p {
        width: 80%;
    }
    nav .navigation {
        width: 100%;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        flex-direction: column;
        background: yellow;
    }
    nav li {
        line-height: 50px;
    }
    .menu-icon .navicon {
        background: #FFF;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    nav .menu-icon {
        margin: 0 5% 0 0;
        cursor: pointer;
        /*display: inline-block;*/
        float: right;
        position: relative;
        user-select: none;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background: #FFF;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .menu-icon .navicon:before {
        top: 5px;
    }
    .menu-icon .navicon:after {
        top: -5px;
    }
    nav .menu-btn:checked~.navigation {
        transition: all .5s ease;
        background: #fff;
        max-height: 629px;
    }
    nav .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    nav .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    nav .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}

@media all and (max-device-width:768px) {
    h1 {
        font-size: 2em;
    }
    p,
    li,
    header p,
    p.content {
        font-size: 1.7em;
    }
    li a {
        color: #333;
    }
}

@media all and (max-device-width:500px) {
    h1 {
        font-size: 2.5em;
    }
    p,
    li,
    header p {
        font-size: 1.8em;
    }
    li a {
        color: #333;
    }
}