body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3A6476;
}


/*Paramétrage du font et de la couleur*/

* {
    font-family: sans-serif;
}

h1 {
    font-size: 2.5em;
}

a.comment,
li,
header p,
p.title,
p.description,
p.content,
.date {
    font-size: 1.2em;
    list-style: none;
}

p,
h1,
.return_post a,
.writer {
    color: #333;
}

span.user {
    font-weight: bold;
}

.writer {
    font-weight: bold;
}

.return_post a {
    font-style: italic;
    font-size: 0.8em;
}

a.com_if_connect {
    font-style: italic;
    font-size: 0.8em;
}

.comment {
    color: purple;
    font-style: italic;
}

.comment_date {
    color: rgb(121, 121, 121);
    font-style: italic;
}

.date {
    font-style: italic;
}

li a,
header p {
    color: #FFF;
}

header p {
    text-decoration: underline;
}

nav li a {
    text-decoration: none;
}

.content a {
    color: purple;
    text-decoration: none;
}

ul li {
    color: #FFF;
    list-style: none;
}


/*---------------------------*/


/*--------------------------------------*/


/*Paramétrage des blocs*/

nav,
.bloc-page {
    width: 1200px;
}

.bloc-page {
    margin: 100px auto 50px auto;
    height: auto;
    background: #FFF;
}


/*Paramétrage du menu fixe et des éléments à l'intérieur*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100px;
    background: #333;
    z-index: 3;
}

header p {
    margin: 0 0 0 5%;
}

nav .navigation {
    margin: 0 5% 0 0;
    clear: none;
    float: right;
    max-height: none;
    display: flex;
}

.navigation li:nth-child(1),
.navigation li:nth-child(2),
.navigation li:nth-child(3),
.navigation li:nth-child(4) {
    padding-right: 20px;
}

nav .menu-btn,
nav .menu-icon {
    display: none;
}


/*Banniere*/

.banniere {
    text-align: center;
}

.banniere img {
    width: 90%;
    padding-bottom: 50px;
}

h1 {
    text-decoration: underline;
    text-align: center;
    padding: 0 0 30px 0;
}


/*Texte d'intro*/

section.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Les billets*/

.chapters {
    margin-top: 20px;
}

.posts {
    width: 90%;
    margin-left: 5%;
}

.title {
    height: 30px;
    font-weight: bold;
    border-bottom: 2px solid #333;
}

.description {
    text-align: center;
    width: 90%;
}

.content :nth-child(2) {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/*Lien vers commentaires*/

.writer {
    text-align: center;
    margin-bottom: 50px;
}


/*page postview*/

#comment {
    width: 100%;
}


/*Page connexion*/

section .connexion,
section .inscription {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connexion_title {
    font-size: 1.5em;
}

.connexion p,
.inscription p {
    text-align: center;
}

.connexion input,
.inscription input {
    margin-bottom: 10px;
}


/*Page admin */

.admin {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.create {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 5% 0 5%;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(212, 212, 212);
}

.report {
    color: red;
    font-weight: bold;
}