    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #3A6476;
    }
    
    * {
        font-family: sans-serif;
    }
    
    p,
    li {
        font-size: 1.2em;
        color: #333;
    }
    /*Couleurs  des fonts*/
    
    li a,
    header p {
        text-decoration: none;
        color: white;
    }
    
    header p {
        text-decoration: underline;
    }
    
    .content a {
        color: purple;
        text-decoration: none;
    }
    
    ul li {
        color: #FFF;
    }
    
    .content p {
        color: #333;
    }
    /*Tailles*/
    
    nav,
    .bloc-page {
        width: 1200px;
    }
    
    .bloc-page {
        margin: 100px auto;
        background: #FFF;
    }
    /*Paramétrage du menu fixe*/
    
    header p,
    nav {
        position: fixed;
        top: 0;
        height: 100px;
        z-index: 3;
    }
    /*Alignement au centre des éléments du menu*/
    
    nav li {
        line-height: 100px;
    }
    /*Décalage depuis la gauche*/
    
    header p {
        margin: 0 0 0 5%;
    }
    
    nav {
        top: 0;
        left: 50%;
        /* à 50%/50% du parent référent */
        transform: translate(-50%, 0);
        /* décalage de 50% de sa propre taille */
        /*top: 0;*/
        /*line-height: 2.5vw;*/
        margin: auto;
        line-height: 100px;
        background: #333;
    }
    /*Liens de navigation*/
    
    nav .navigation {
        margin: 0 5% 0 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    
    .navigation li a {
        display: block;
        padding-left: 44px;
        /*padding: 0.8vw 0.8vw;*/
        text-decoration: none;
    }
    /*Paramétrage du bouton du menu burger*/
    
    nav .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 50px 19px;
        position: relative;
        user-select: none;
    }
    
    .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    .menu-icon .navicon:before {
        top: 5px;
    }
    
    .menu-icon .navicon:after {
        top: -5px;
    }
    /* menu btn */
    
    nav .menu-btn {
        display: none;
    }
    
    nav .menu-btn:checked~.navigation {
        transition: all .5s ease;
        background: #fff;
        max-height: 629px;
    }
    
    nav .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    
    nav .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    nav .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    /*Banniere*/
    
    .banniere {
        text-align: center;
    }
    
    .banniere img {
        width: 90%;
        padding-bottom: 50px;
    }
    
    h1 {
        color: #333;
        font-size: 2.5em;
        text-decoration: underline;
        text-align: center;
        padding: 0 0 30px 0;
    }
    /*Texte d'intro*/
    
    section.intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*Les billets*/
    /* liens vers tout les posts*/
    
    .return_post a {
        color: #333;
        font-style: italic;
        font-size: 0.8em;
    }
    /**/
    
    .chapters {
        margin-top: 20px;
    }
    
    .posts {
        width: 90%;
        height: 1500px;
        margin-left: 5%;
    }
    
    .title {
        height: 30px;
        font-weight: bold;
        border-bottom: 2px solid #333;
    }
    
    .date {
        font-size: 0.9em;
        font-style: italic;
    }
    
    .description {
        text-align: center;
        width: 90%;
    }
    
    .content :nth-child(2) {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    /*Lien vers commentaires*/
    
    .comment {
        color: purple;
        font-style: italic;
    }
    
    .writer {
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        color: #333;
    }
    /*PAGE POSTVIEW*/
    /*Pseudo de l'user*/
    
    span.user {
        font-weight: bold;
    }
    
    .comment_date {
        color: rgb(121, 121, 121);
        font-style: italic;
    }
    
    a.com_if_connect {
        /*color: #000;*/
        font-style: italic;
        font-size: 0.8em;
    }
    /*Page connexion*/
    
    section .connexion,
    section .inscription {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .connexion_title {
        font-size: 1.5em;
    }
    
    .connexion p,
    .inscription p {
        text-align: center;
    }
    
    .connexion input,
    .inscription input {
        margin-bottom: 10px;
    }