body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3A6476;
}


/*Paramétrage du font et de la couleur*/

* {
    font-family: sans-serif;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
}

a {
    color: purple;
}

p,
h1,
.return_post a,
.writer {
    color: #333;
}

span.user,
.writer {
    font-weight: bold;
}

.return_post a,
a.com_if_connect,
.date {
    font-style: italic;
}

ul li,
li a,
header p {
    color: #FFF;
}

.content a {
    color: purple;
    text-decoration: none;
}


/*---------------------------*/


/*--------------------------------------*/


/*Paramétrage des blocs*/

nav,
.bloc-page {
    width: 1200px;
    padding: 0 40px 0 40px;
}

.bloc-page {
    margin: 100px auto 50px auto;
    height: auto;
    background: #FFF;
}


/*Paramétrage du menu fixe et des éléments à l'intérieur*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100px;
    background: #333;
    z-index: 3;
}

nav .navigation {
    padding-right: 40px;
    clear: none;
    float: right;
    max-height: none;
    display: flex;
}

.navigation li:nth-child(1),
.navigation li:nth-child(2) {
    padding-right: 20px;
}

nav .menu-btn,
nav .menu-icon {
    display: none;
}


/*Banniere*/

.banniere img {
    margin-top: 20px;
    width: 100%;
    padding-bottom: 50px;
}

h1 {
    text-decoration: underline;
    text-align: center;
    padding: 30px;
}


/*Texte d'intro*/

section.intro {
    margin: auto;
}

p.writer {
    text-align: center;
}


/*Les billets*/

.title {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #333;
}

.description,
.posts {
    text-align: left;
}


/*.content :nth-child(2) {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}*/


/*Lien vers commentaires*/


/*page postview*/

#comment {
    width: 100%;
}


/*Page connexion*/

h2,
.connexion p,
.inscription p {
    margin: 0;
    text-align: center;
    padding: 10px;
}


/*Page admin */

div.report {
    padding: 20px 0 50px 0;
    text-align: left;
}

p.form {
    text-align: left;
}

footer {
    margin: auto;
}

footer p {
    color: #444;
    text-align: center;
    margin-top: 50px;
}

.report p:nth-child(1) {
    color: rgb(218, 36, 36);
    padding: 10px 0 10px 0;
    font-weight: bold;
    margin: 0;
}