body {
    text-align: center;
}

.posts {
    margin-left: 40%;
    text-align: center;
    background: #33C4FF;
    width: 300px;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}